* {
    margin: 0px;
    padding: 0px;
}

.wrappers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: -1;
}

.one,
.two,
.four {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.coin::before,
.coin::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

.coin {
    cursor: pointer;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.coin::before {
    transform: rotateY(-180deg);
    transform: translate(-50%, -50%);
    background-image: url(../images/tails-medium.webp);
}

.coin::after {
    z-index: 100;
    transform: translate(-50%, -50%);
    background-image: url(../images/heads-medium.webp);
}

.wrappers .coin {
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    /*transform: translate(-50%, -50%);*/
}

.wrappers>.one>.coin {
    top: 50%;
    left: 50%;
}

.wrappers>.two>.coin:nth-child(1) {
    top: 25%;
    left: 50%;
}

.wrappers>.two>.coin:nth-child(2) {
    top: 75%;
    left: 50%;
}

.wrappers>.four>.coin:nth-child(1) {
    top: 25%;
    left: 25%;
}

.wrappers>.four>.coin:nth-child(2) {
    top: 25%;
    left: 75%;
}

.wrappers>.four>.coin:nth-child(3) {
    top: 75%;
    left: 25%;
}

.wrappers>.four>.coin:nth-child(4) {
    top: 75%;
    left: 75%;
}

.coin.heads::before {
    animation: flipHeadsB 1s ease-out forwards;
}

.coin.heads::after {
    animation: flipHeadsA 1s ease-out forwards;
}

.coin.tails::before {
    animation: flipTailsB 1s ease-out forwards;
}

.coin.tails::after {
    animation: flipTailsA 1s ease-out forwards;
}

@keyframes flipHeadsB {
    0% {
        z-index: 0;
        transform: translate(-50%, -50%) rotateY(-180deg);
    }

    10% {
        z-index: 100;
    }

    20% {
        z-index: 0;
    }

    30% {
        z-index: 100;
    }

    40% {
        z-index: 0;
    }

    50% {
        z-index: 100;
    }

    60% {
        z-index: 0;
    }

    70% {
        z-index: 100;
    }

    80% {
        z-index: 0;
    }

    90% {
        z-index: 100;
    }

    100% {
        z-index: 0;
        transform: translate(-50%, -50%) rotateY(1800deg);
    }
}

@keyframes flipHeadsA {
    0% {
        z-index: 100;
        transform: translate(-50%, -50%) rotateY(0deg);
    }

    10% {
        z-index: 0;
    }

    20% {
        z-index: 100;
    }

    30% {
        z-index: 0;
    }

    40% {
        z-index: 100;
    }

    50% {
        z-index: 0;
    }

    60% {
        z-index: 100;
    }

    70% {
        z-index: 0;
    }

    80% {
        z-index: 100;
    }

    90% {
        z-index: 0;
    }

    100% {
        z-index: 100;
        transform: translate(-50%, -50%) rotateY(1980deg);
    }
}

@keyframes flipTailsB {
    from {
        z-index: 0;
        transform: translate(-50%, -50%) rotateY(-180deg);
    }

    to {
        z-index: 100;
        transform: translate(-50%, -50%) rotateY(1620deg);
    }
}

@keyframes flipTailsA {
    from {
        z-index: 100;
        transform: translate(-50%, -50%) rotateY(0deg);
    }

    to {
        z-index: 0;
        transform: translate(-50%, -50%) rotateY(1800deg);
    }
}

#result.win::before {
    content: "WIN";
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    color: lightgreen;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#result.lose::before {
    content: "LOSE";
    display: block;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    color: lightcoral;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#divQuantity {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    width: 20em;
}

#divQuantity label {
    line-height: 25px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    left: 0;
}

#divQuantity input {
    position: absolute;
    height: 25px;
    right: 0;
    margin: 0;
    padding: 0;
}